a {
  text-decoration: none;
  color: inherit;
}

body {
  height: auto;
  margin: auto;
  background: #f9f9fb;
}

.btn-load-more {
  /* Rectangle */
  margin-top: 120px;
  width: 204px;
  height: 70px;
  border: 2px solid #ff5480;
  border-radius: 40px;
  /* Load More */

  left: 21.08%;
  right: 20.1%;
  top: calc(50% - 33px / 2 - 0.5px);
  background: #f9f9fb;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: -0.5px;

  color: #ff5480;
}

.body-header {
  height: auto;
  margin: auto;
  background: #ffffff;
}

.body-content {
  width: 1100px;
  height: auto;
  margin: auto;
}

.container {
  width: 1100px;
  height: auto;
  margin: auto;
}
.row-satu {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr;
  position: relative;
  margin-top: 30px;
}

.row-dua {
  margin-top: 100px;
  padding: 0 58px;
}

.col-dua-row-dua {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 0;

  letter-spacing: -0.1px;
}
.col-tiga-row-satu {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  z-index: -1;
}

.col-tiga-row-dua {
  /* How to Change Your W */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 61px;
  /* or 127% */
  letter-spacing: -0.3px;

  color: #111210;
}

.page2-row-satu {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.page2-row-dua {
  margin-top: 100px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  letter-spacing: -0.225px;

  color: #4a4a4a;
}

.page2-row-tiga {
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  letter-spacing: -0.1125px;

  color: #000000;
}

.page2-row-empat {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 0;
  line-height: 58px;
  align-items: center;

  letter-spacing: -0.1px;
}

.page2-row-lima {
  margin-top: 100px;
}

.page2-row-enam {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #4a4a4a;
}

.page2-row-tujuh {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin-top: 70px;
}

.page2-row-tujuh-satu {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */
  letter-spacing: -0.225px;

  color: #111210;
}

.page2-row-tujuh-dua {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 58px;
  text-align: right;
  letter-spacing: -0.1px;

  color: #9b9b9b;
}

.page2-row-delapan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}
.page2-row-delapan-header {
  display: contents;
}
.page2-row-delapan-satu {
  border-radius: 8px;
}

.page2-row-delapan-dua {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 58px;
  letter-spacing: -0.1px;
}

.page2-row-delapan-tiga {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 46px;
  /* or 164% */
  letter-spacing: -0.175px;
  color: #111210;
  grid-auto-rows: 1fr;
}
.page2-row-delapan-empat {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  letter-spacing: -0.1px;

  color: #9b9b9b;
}
.page2-row-delapan-satu img {
  width: 100%;
  height: 358px;
}
.page3-row-satu {
  margin-top: 100px;

  /* Title */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  /* or 161% */
  letter-spacing: -0.225px;

  color: #000000;
}
.page3-row-dua {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 30px;
  grid-auto-rows: auto;
  column-gap: 30px;
  padding-bottom: 50px;
}
.page3-row-dua-dua-satu {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  /* or 161% */
  display: flex;
  align-items: center;
  letter-spacing: -0.225px;

  color: #4a4a4a;
}
.page3-row-dua-dua-dua {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  letter-spacing: -0.1125px;

  color: #000000;
}
.page3-row-tiga {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  grid-auto-rows: auto;

  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
  border-radius: 8px;
}
.page3-row-tiga-satu {
  padding: 35px;
}
.page3-row-tiga-satu-satu {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 58px;
  /* or 242% */
  letter-spacing: -0.15px;

  color: #000000;
}
.page3-row-tiga-satu-dua {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 46px;
  /* or 164% */
  letter-spacing: -0.175px;

  color: #111210;
}
.page3-row-tiga-satu-tiga {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  letter-spacing: -0.1px;

  color: #9b9b9b;
}
.abu {
  color: #9b9b9b;
}

.hitam {
  color: #000000;
}
.row-tiga {
  text-align: center;
}
.col {
  display: flex;
  flex-direction: column;
}

.card {
  width: 972px;
  border-radius: 8px;
}

.card-2 {
  width: 100%;
  border-radius: 8px;
}
.card-3 {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
  border-radius: 8px;
}

.btn-aktif {
  width: 73px;
  height: 35px;
  background: #ff5480;
  border-radius: 10px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.btn-non-aktif {
  width: 73px;
  height: 35px;

  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  background: #f9f9fb;
  color: #000000;
}

.hidden {
  visibility: hidden;
}

/*

* {
  border: 1px solid red !important;
}
*/
